<footer class="footer">
  <div class="container">
    <hr>
    <div class="text-center center-block">
      <a href="https://www.facebook.com/key.phon"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/key.phon"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/u/0/105811454410683269578"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="quockhuong0330@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      <p></p>
      <p class="txt-railway">&copy 2017 MEAN Auth App. All rights reserved | by Key</p>
    </div>
    <hr>
  </div>
</footer>
